       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       /* -------------- p -----------------*/
       p {
           color: white;
           font-family: 'Overlock', cursive;
       }

       /* ------------ Header ----------------*/
       header {
           background-color: black;
       }

       /* ----------- Slideshow -------------*/

       #slideshow {
           background-color: black;
       }

       /* -------------------- Navbar -------------*/

       navbar {
           padding: 2em;

       }

       navbar a {
           float: right;
           padding: 1em;
           margin-top: 1em;
           font-family: 'Overlock', cursive;
           color: red;
       }

       navbar a:hover {

           text-decoration: underline;
           background-color: none;
           color: red;
       }

       /* ----------- Footer -------------*/

       footer {
           background-color: lightgray;
       }

       td {
           padding: 5px;
           margin-left;
           text-align: left;
       }
