       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       html {
           background-color: black;

       }

       body {
           background-color: black;
       }

       /* -------------- p -----------------*/
       p {
           color: white;
           font-family: 'Overlock', cursive;
       }

       h1 {
           color: white;
           font-family: 'Overlock', cursive;
           font-size: 3em;
       }

       h2 {
           color: white;
           font-family: 'Overlock', cursive;
           font-size: 2em;
       }

       /* ------------ Header ----------------*/
       header {
           background-color: black;
       }

       /* ----------- Slideshow -------------*/

       #slideshow {
           background-color: black;
       }

       /* -------------------- Navbar -------------*/


       main {
           background-color: black;
       }

       navbar {
           padding: 2em;

       }

       navbar a {
           float: right;
           padding: 1em;
           margin-top: 1em;
           font-family: 'Overlock', cursive;
           color: red;
       }

       navbar a:hover {

           text-decoration: underline;
           background-color: none;
           color: red;
       }

       /* ----------- Footer -------------*/

       footer {
           background-color: lightgray;
       }

       td {
           padding: 5px;
           margin-left;
           text-align: left;
       }



       /* ----------- Forside -------------*/

       /* ----------- sushi & wok -------------*/
       .knapper {
           text-align: center;
       }

       .enkel {
           text-align: center;
       }

       /* ----------- Running -------------*/
       .sushicirkel img {
           width: 100%;
           height: auto;
       }



       .info {
           background-color: black;
       }

       .col-md-4 {
           margin-left: 5em;
           margin-top: 2em;

       }

       .rabat {
           text-align: center;
           background-color: red;
           border: 2px solid yellow;
       }

       /* ----------- Take -------------*/




       .grid {
           display: grid;
           grid-template-columns: 300px 300px 300px;
           grid-gap: 2em;
           background-color: black;
           color: #444;
           justify-content: center;

       }

       .box {
           background-color: #444;
           color: #fff;
           border-radius: 5px;
           padding: 20px;
           font-size: 150%;
       }



       /* ----------- om -------------*/




       /* ----------- Responsivt navbar -------------*/

       .nyBar {
           width: 100%;
           background: black;
           height: 60px;
           line-height: 60px;
           border-bottom: 1px solid #dddddd;
           font-family: 'Overlock', cursive;
       }

       .hamburger {
           background: none;
           position: absolute;
           top: 0;
           right: 0;
           line-height: 45px;
           padding: 5px 15px 0px 15px;
           color: #999;
           border: 0;
           font-size: 1.4em;
           font-weight: bold;
           cursor: pointer;
           outline: none;
           z-index: 10000000000000;
       }

       .cross {
           background: none;
           position: absolute;
           top: 0px;
           right: 0;
           padding: 7px 15px 0px 15px;
           color: #999;
           border: 0;
           font-size: 3em;
           line-height: 65px;
           font-weight: bold;
           cursor: pointer;
           outline: none;
           z-index: 10000000000000;
       }

       .menu {
           z-index: 1000000;
           font-weight: bold;
           font-size: 0.8em;
           width: 100%;
           background: black;
           position: absolute;
           text-align: center;
           font-size: 12px;
       }

       .menu ul {
           margin: 0;
           padding: 0;
           list-style-type: none;
           list-style-image: none;
       }

       .menu li {
           display: block;
           padding: 15px 0 15px 0;
           background-color: black;
       }

       .menu li:hover {
           display: block;
           background: lightgrey;
           padding: 15px 0 15px 0;
           border-bottom: #dddddd 1px solid;
       }

       .menu ul li a {
           text-decoration: none;
           margin: 0px;
           color: red;

       }

       .menu ul li a:hover {
           color: red;
           text-decoration: none;
       }

       .menu a {
           text-decoration: none;
           color: red;

       }

       .menu a:hover {
           text-decoration: none;
           color: red;
       }

       .glyphicon-home {
           color: white;
           font-size: 1.5em;
           margin-top: 5px;
           margin: 0 auto;
       }

       header {
           display: inline-block;
           font-size: 12px;
       }

       span {
           padding-left: 20px;
       }

       a {
           color: #336699;
       }

       /* ----- Media queries --------- */
