       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       body {
           background-color: #fff;
       }

       p {
           color: white;
           font-family: 'Overlock', cursive;
       }

       navbar a {
           float: right;
       }
